* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title_CC {
    text-align: center;
}

.container_carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 28rem;
    min-height: 36rem;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
}

#produtos-CC {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#total-CC {
   margin-top: auto;
}
